.mvn
.javacsrc
.jshintrc
.mvnw
mvnw.cmd
mvnw
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
target/
**/.git
**/.DS_Store
**/*.log
**/logs
**/target
Dockerfile
.dockerignore
.gitignore
README.md
